@import url('http://fonts.googleapis.com/css?family=Montserrat|Bitter');
@import 'config';
@import 'responsive';

// ****************************************************************************
//  basic reset + background
// ****************************************************************************

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background: url('../img/polygon-page-dark.png') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

// ****************************************************************************
//  main parts
// ****************************************************************************

canvas#playground {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  box-shadow: inset 0 0 300px #0F171C;
}

main {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  overflow: hidden;
}

// ****************************************************************************
//  typo
// ****************************************************************************

h1 {
  font: normal 32px Bitter;
  color: white;
  text-align: center;
  padding: 85px 100px;
}

// ****************************************************************************
//  slants
// ****************************************************************************

@mixin slant-basic {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 1500px;
  height: 1500px;
  background: linear-gradient(90deg, rgba($color-dark, $alpha-dark) 50%, rgba($color-accent, $alpha-accent) 100%);
  //transition: transform .2s ease-in-out;

  @include screen-sm {
    width: 1000px;
    height: 1000px;
  }

  @include screen-xs {
    width: 700px;
    height: 700px;
  }
}

#slants {
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.slant {
  @include slant-basic();
  transform: translate(-750px, -750px) rotate(45deg);

  @include screen-sm {
    transform: translate(-500px, -500px) rotate(45deg);
  }
  @include screen-xs {
    transform: translate(-350px, -250px) rotate(45deg);
  }

}

.slant-2 {
  @include slant-basic();
  transform: translate(-500px, -1200px) rotate(60deg);

  @include screen-sm {
    transform: translate(-350px, -750px) rotate(60deg);
  }
  @include screen-xs {
    transform: translate(-350px, -450px) rotate(60deg);
  }
}

// ****************************************************************************
//  navigation
// ****************************************************************************

ul {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

ul li {
  display: inline-block;
  list-style-type: none;
  position: relative;
  overflow: hidden;

  margin: $dot-size/10;
  border-radius: $dot-size;
  width: $dot-size;
  height: $dot-size;
  background-color: #fff;
}

ul li a {
  display: block;
  font: normal $dot-size/3 Montserrat;
  color: hsl(180, 40%, 40%);
  width: $dot-size - ($dot-border * 2);
  height: $dot-size - ($dot-border * 2);
  border: $dot-border solid transparent;
  border-radius: $dot-size;
  padding: 0;
  line-height: $dot-size - ($dot-border * 2);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  position: relative;
  background-size: cover;
}

ul li a:hover {
  border: $dot-border solid $color-accent;
}

@mixin dot-background($img) {
  background: url('../img/' + $img) no-repeat center center;
}

ul li.dot-heatmap a {
  @include dot-background('dot-heatmap.png');
}

ul li.dot-points a {
  @include dot-background('dot-points.png');
}

ul li.dot-gooey a {
  @include dot-background('dot-gooey.png');
}

ul li.dot-labirynths a {
  @include dot-background('dot-labirynths.png');
}
